In [1]:
import pandas as pd
import numpy as np

#Selecionando colunas usadas
GET_COLUMNS = [
    "DatGeracaoConjuntoDados",
    "NomEmpreendimento",
    "SigUFPrincipal",
    "SigTipoGeracao",
    "NomFonteCombustivel",
    "MdaPotenciaFiscalizadaKw",
    "MdaPotenciaOutorgadaKw",
    "DscMuninicpios"
]

In [2]:
#Ler arquivo csv e passar para dataframe
df = pd.read_csv(
    "./data/empreendimentos.csv",
    delimiter=";",
    encoding="Windows 1252"
).get(GET_COLUMNS)

#Criando Index
df = df.rename_axis("id")

#Criando tabela dimensão
dim_emp = df.drop(columns=["DatGeracaoConjuntoDados", "MdaPotenciaFiscalizadaKw", "MdaPotenciaOutorgadaKw"])

#adicionando id da FK
df["Id_empreendimento"] = dim_emp.index.values

# Criando tabela fato
fato_ger = df[["DatGeracaoConjuntoDados", "MdaPotenciaFiscalizadaKw", "MdaPotenciaOutorgadaKw","Id_empreendimento"]]


#Traduzindo dataframe para csv
fato_ger.to_csv("./data/fato_geracao.csv", sep=";")
dim_emp.to_csv("./data/dim_empreendimento.csv", sep=";")

In [3]:
dim_emp[dim_emp.isna().any(axis=1)]

Empty DataFrame
Columns: [NomEmpreendimento, SigUFPrincipal, SigTipoGeracao, NomFonteCombustivel, DscMuninicpios]
Index: []

In [6]:
df_emp = pd.DataFrame(dim_emp)
df_emp

,NomEmpreendimento,SigUFPrincipal,SigTipoGeracao,NomFonteCombustivel,DscMuninicpios
id,,,,,
0,E,MG,PCH,Potencial hidráulico,Nova Lima - MG
1,F,MG,PCH,Potencial hidráulico,Nova Lima - MG
2,G,MG,PCH,Potencial hidráulico,Nova Lima - MG
3,14 de Julho,RS,UHE,Potencial hidráulico,"Bento Gonçalves - RS, Cotiporã - RS"
4,Abaúna,RS,CGH,Potencial hidráulico,Floriano Peixoto - RS
...,...,...,...,...,...
24595,Programa Mla Amazonas Mao04800,AM,UFV,Radiação solar,Manaus - AM
24596,Programa Mla Amazonas Mao11820200,AM,UFV,Radiação solar,Manaus - AM
24597,Projeto Buriti B7 - Hemobrás (pernambuco),PE,UTE,Óleo Diesel,Goiana - PE
24598,Amitec,PR,UTE,Biogás-AGR,Goioerê - PR
24599,Qualita Granitos,ES,UFV,Radiação solar,Cariacica - ES

In [7]:
df_emp.value_counts("SigTipoGeracao")

SigTipoGeracao
UFV    18528
UTE     3121
EOL     1474
CGH      720
PCH      535
UHE      219
UTN        3
Name: count, dtype: int64