In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import seaborn as sn
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [12]:
#FatosGeração (ID empreendiemnto) > fatodadosmetereologicos (vento, precip, etc) > dimempreendimentos (tipogeração)

#dim_empreendimentos -> id;NomEmpreendimento;SigUFPrincipal;SigTipoGeracao;NomFonteCombustivel
#fato_dados_metereologicos -> id;Data;Hora UTC;precipTotalHorario;ventoVeloHoraria;tempAr;radGlobal;umidRelAr;id_regiao
#fato_geracao -> id;DatGeracaoConjuntoDados;MdaPotenciaFiscalizadaKw;MdaPotenciaOutorgadaKw;Id_empreendimento
#id;UF;latitude;longitude;altitude
#Pegar empreendimento (id) > Pegar todos os dados meterologicos (preciptação, vento, temp...) > Pegar qual o TipoGeração na região

dim_regiao = pd.read_csv(
    "data/dim_regiao.csv",
    delimiter=";",
    encoding="UTF-8")

dim_empreendimentos = pd.read_csv(
    "data/dim_empreendimento.csv",
    delimiter=";",
    encoding="UTF-8")

fato_dados_metereologicos = pd.read_csv(
    "data/fato_dados_meteorologicos.csv",
    delimiter=";",
    encoding="UTF-8")

fato_geracao = pd.read_csv(
    "data/fato_geracao.csv",
    delimiter=";",
    encoding="UTF-8",
    decimal=',')

#sklearn.ensemble.HistGradientBoostingClassifier

In [16]:
dim_empreendimentos['DscMuninicpios'] = dim_empreendimentos['DscMuninicpios'].str.split('-', 1).str[0]

dim_empreendimentos.head()


empreendimentos_combinados = pd.merge(fato_geracao, dim_empreendimentos, left_on='Id_empreendimento', right_on='id')



empreendimentos_combinados = empreendimentos_combinados.drop('DatGeracaoConjuntoDados', axis=1)

empreendimentos_combinados.head()

C:\Users\Orlisio\AppData\Local\Temp\ipykernel_11240\178588475.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  dim_empreendimentos['DscMuninicpios'] = dim_empreendimentos['DscMuninicpios'].str.split('-', 1).str[0]

,id_x,MdaPotenciaFiscalizadaKw,MdaPotenciaOutorgadaKw,Id_empreendimento,id_y,NomEmpreendimento,SigUFPrincipal,SigTipoGeracao,NomFonteCombustivel,DscMuninicpios
0,0,1400,1400.0,0,0,E,MG,PCH,Potencial hidráulico,Nova Lima
1,1,3972,3972.0,1,1,F,MG,PCH,Potencial hidráulico,Nova Lima
2,2,1440,1440.0,2,2,G,MG,PCH,Potencial hidráulico,Nova Lima
3,3,100000,100000.0,3,3,14 de Julho,RS,UHE,Potencial hidráulico,Bento Gonçalves
4,4,720,720.0,4,4,Abaúna,RS,CGH,Potencial hidráulico,Floriano Peixoto

In [7]:
""" #Cidade, MediaPrecipTotalHorarioCidade, MediaVentoVeloHorariaCidade, MediaTempArCidade, ...., QuantidadeEnergiaEnergiaSolarGeradaPorCidade, QuantidadeEnergiaNuclearGeradaPorCidade, QuantidadeEnergiaTermalGeradaPorCidade, .....

colunas_csv1 = list(fato_dados_metereologicos.columns)
dados_combinados = pd.merge(fato_dados_metereologicos[colunas_csv1], dim_regiao[['UF']], left_index=True, right_index=True)

#Tratando dados decimais para virarem tipo float
#dados_combinados = pd.merge(fato_dados_metereologicos, dim_regiao, left_on='id_regiao', right_on='id')

dados_combinados['precipTotalHorario'] = dados_combinados['precipTotalHorario'].astype(str)
dados_combinados['precipTotalHorario'] = dados_combinados['precipTotalHorario'].str.replace(',', '.')
dados_combinados['precipTotalHorario'] = dados_combinados['precipTotalHorario'].astype(float)

dados_combinados['ventoVeloHoraria'] = dados_combinados['ventoVeloHoraria'].astype(str)
dados_combinados['ventoVeloHoraria'] = dados_combinados['ventoVeloHoraria'].str.replace(',', '.')
dados_combinados['ventoVeloHoraria'] = dados_combinados['ventoVeloHoraria'].astype(float)

dados_combinados['tempAr'] = dados_combinados['tempAr'].astype(str)
dados_combinados['tempAr'] = dados_combinados['tempAr'].str.replace(',', '.')
dados_combinados['tempAr'] = dados_combinados['tempAr'].astype(float)

dados_combinados['radGlobal'] = dados_combinados['radGlobal'].astype(str)
dados_combinados['radGlobal'] = dados_combinados['radGlobal'].str.replace(',', '.')
dados_combinados['radGlobal'] = dados_combinados['radGlobal'].astype(float) """

In [8]:
""" siglasUF = ['AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO']


dados_combinados.head() """

,id,Data,Hora UTC,precipTotalHorario,ventoVeloHoraria,tempAr,radGlobal,umidRelAr,id_regiao,UF
0,0,2022/01/01,0000 UTC,0.0,1.9,19.2,NaN,89.0,0,DF
1,1,2022/01/01,0100 UTC,0.4,2.1,19.0,NaN,92.0,0,DF
2,2,2022/01/01,0200 UTC,0.0,2.6,19.1,NaN,91.0,0,DF
3,3,2022/01/01,0300 UTC,0.0,2.8,18.8,NaN,91.0,0,DF
4,4,2022/01/01,0400 UTC,0.0,1.3,18.5,NaN,92.0,0,DF